<layout name="layout" />

        <!-- Slider Start -->
    <section id="global-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>Our Advantages.</h1>
                        <p>Don’t just take our word for it. Check out some of our latest work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Portfolio Start -->
        <section id="intro">
          <div class="container">

            <div class="1">
              <div class="row">
                <div class="col-md-12">
                  <a name="1"></a>
                  <h1>Welding</h1>
                </div>
              </div>

              <div class="row" style="padding-top: 30px;">
                <div class="col-md-7 col-sm-12">
                  <div class="block">
                    <div class="section-title">
                      <h3>First, advanced technology and facility</h3>
                      <p>We use imported German automatic laser welding machine to ensure 100% penetration rate of fin and base tube.Higher the penetration rate, higher the heat exchange efficiency is.Metallographic analysis is shown right:</p>
                    </div>
                  </div>
                </div><!-- .col-md-7 close -->
                <div class="col-md-5 col-sm-12">
                  <div class="block">
                      <img src="__PUBLIC__/img/advantages/a1.jpg">
                  </div>
                </div><!-- .col-md-5 close alt="Img" -->
              </div>

              <div class="row" style="padding-top: 10px;">
                <div class="col-md-12 col-sm-12">
                  <div class="block">
                    <div class="section-title">
                      <h3>Second, high performance, light weight</h3>
                      <p>With the minimum base tube wall thickness(1.0mm) and the minimum fin thickness(0.4mm), our welding process can greatly reduce the thermal resistance. The unique fin winding process ensures the minimum spacing between fins of 2.0 mm. Beside, the fin of our products is evenly distributed and smooth at the weld witch prevent the accumulation of ash. With all these advanced processes, we improved the heat-exchange rate of our products by a wide margin. Thus,with the same specifications, our energy-efficient laser welded finned tubes are more efficient than high-frequency welded finned tubes by 30% or more.</p>
                    </div>

                    </div>
                  </div>
              </div>
              <div class="row" style="align-content: center;">
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a2.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a3.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a4.jpg" alt="">
                </div>
              </div>
            </div> <!-- end 1st advantages-->


            <div class="2" style="padding-top: 50px;">
              <div class="row">
                <div class="col-md-12">
                  <a name="2"></a>
                  <h1>Coil Technology</h1>
                </div>
              </div>
              <div class="row" style="padding-top: 10px;">
                <div class="col-md-12 col-sm-12">
                  <div class="block">
                    <div class="section-title">
                      <h3>The exclusive patent</h3>
                      <p>The tube bending machine developed and manufactured by our company can bend the tube into various shapes to meet different needs of customers.</p>
                    </div>

                    </div>
                  </div>
              </div>
              <div class="row" style="align-content: center;">
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a5.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a6.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a7.jpg" alt="">
                </div>
              </div>
            </div>  <!-- end 2nd advantages-->

            <div class="3" style="padding-top: 50px;">
              <div class="row">
                <div class="col-md-12">
                  <a name="3"></a>
                  <h1>Custom</h1>
                </div>
              </div>
              <div class="row" style="padding-top: 30px;">
                <div class="col-md-6 col-sm-12">
                  <table class="table table-striped">
                    <tr>
                        <th>Tube material</th>
                        <th>Fin material</th>
                    </tr>
                    <tr>
                      <td>304L/316LStainless Steel</td>
                      <td>304L/316LStainless Steel</td>
                    </tr>
                    <tr>
                      <td>304L/316LStainless Steel</td>
                      <td>Nickel copper alloy</td>
                    </tr>
                    <tr>
                      <td>304L/316LStainless Steel</td>
                      <td>Copper</td>
                    </tr>
                    <tr>
                      <td>Titanium</td>
                      <td>304L/316LStainless Steel</td>
                    </tr>
                    <tr>
                      <td>Titanium</td>
                      <td>Copper</td>
                    </tr>
                    <tr>
                      <td>Titanium</td>
                      <td>Titanium</td>
                    </tr>
                    <tr>
                      <td>Carbon steel</td>
                      <td>Carbon steel</td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="block">
                  <table class="table table-striped">
                    <tr>
                      <th colspan="2">Size range</th>
                      <th>Tube type</th>
                    </tr>
                    <tr>
                        <td>Tube diameter</td>
                        <td>10-50mm</td>
                        <td>Straight tube</td>
                    </tr>
                    <tr>
                        <td>Tube wall thickness</td>
                        <td>1-8mm</td>
                        <td>Bent tube</td>
                    </tr>
                    <tr>
                        <td>Fin thickness</td>
                        <td>0.4-1.5mm</td>
                        <td>Serpentine bent</td>
                    </tr>
                    <tr>
                        <td>Fin spacing</td>
                        <td>2-14mm</td>
                        <td>Single layer spiral coil</td>
                    </tr>
                    <tr>
                        <td>Fin height</td>
                        <td>4-17mm</td>
                        <td>double layer spiral coil</td>
                    </tr>
                  </table>
                  </div>
                </div>
              </div>
            </div>  <!-- end 3nd advantages-->


            <div class="4" style="padding-top: 50px;">
              <div class="row">
                <div class="col-md-12">
                  <a name="4"></a>
                  <h1>Quality Assurance</h1>
                </div>
              </div>
              <div class="row" style="padding-top: 10px;">
                <div class="col-md-12 col-sm-12">
                  <div class="block">
                    <div class="section-title">
                      <h3>Quality Control</h3>
                      <p>1.&nbsp;We use CCD monitoring system in production process to monitor welds.</p>
                      <p>2.&nbsp;Series of methods, first piece testing, length detection after cutting, weld detection after lodging, metallographic analysis ,ensure the quality of products .</p>
                      <p>3.&nbsp;High quality materials are used to make sure of the product quality.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" >
                <div class="col-md-6 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a8.jpg" alt="">
                </div>
                <div class="col-md-6 col-sm-12" class="block">
                  <div class="row">
                    <div class="col-md-12" style = "text-align:center;">
                        <img src="__PUBLIC__/img/advantages/a9.png" alt="">
                        <div class="caption" style="padding-top: 10px;">CCD monitor</div>
                    </div>
                  </div>
                  <div class="row" style="padding-top: 20px;">
                    <div class="col-md-12" style = "text-align:center;">
                      <img src="__PUBLIC__/img/advantages/a10.png" alt="">
                      <!-- <div class="caption" style="padding-top: 10px;">金相分析 </div> -->
                    </div>
                  </div>

                </div>
              </div>
            </div>  <!-- end 4nd advantages-->
          </div>
        </section>


