<layout name="layout_cn" />

        <!-- Slider Start -->
    <section id="global-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>Our Advantages.</h1>
                        <p>Don’t just take our word for it. Check out some of our latest work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Portfolio Start -->
        <section id="intro">
          <div class="container">

            <div class="1">
              <div class="row">
                <div class="col-md-12">
                  <a name="1"></a>
                  <h1>焊接技术</h1>
                </div>
              </div>

              <div class="row" style="padding-top: 30px;">
                <div class="col-md-7 col-sm-12">
                  <div class="block">
                    <div class="section-title">
                      <h3>工艺先进</h3>
                      <p>引进德国原装进口全自动激光焊接机，保证翅片和基管100%焊透。焊透率越高、换热效率越高。金相分析展示如图：</p>
                    </div>
                  </div>
                </div><!-- .col-md-7 close -->
                <div class="col-md-5 col-sm-12">
                  <div class="block">
                      <img src="__PUBLIC__/img/advantages/a1.jpg">
                  </div>
                </div><!-- .col-md-5 close alt="Img" -->
              </div>

              <div class="row" style="padding-top: 10px;">
                <div class="col-md-12 col-sm-12">
                  <div class="block">
                    <div class="section-title">
                      <h3>高性能，轻型化</h3>
                      <p>激光焊接工艺可使用的基管壁厚最薄为1.0mm，翅片最薄为0.4mm，大大减少了热阻。独特的缠绕工艺可保证翅片间距最小为2.0mm，且翅片分布均匀、底部平整无褶皱，防止积灰，极大的提高了换热效率，比同规格的高频焊翅片管要节能30%以上。</p>
                    </div>

                    </div>
                  </div>
              </div>
              <div class="row" style="align-content: center;">
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a2.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a3.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a4.jpg" alt="">
                </div>
              </div>
            </div> <!-- end 1st advantages-->


            <div class="2" style="padding-top: 50px;">
              <div class="row">
                <div class="col-md-12">
                  <a name="2"></a>
                  <h1>盘管技术</h1>
                </div>
              </div>
              <div class="row" style="padding-top: 10px;">
                <div class="col-md-12 col-sm-12">
                  <div class="block">
                    <div class="section-title">
                      <h3>独家专利制造</h3>
                      <p>我公司专利研发制造的弯管机可将直管加工弯制成各种形状，满足客户的多种使用需求。</p>
                    </div>

                    </div>
                  </div>
              </div>
              <div class="row" style="align-content: center;">
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a5.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a6.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a7.jpg" alt="">
                </div>
              </div>
            </div>  <!-- end 2nd advantages-->

            <div class="3" style="padding-top: 50px;">
              <div class="row">
                <div class="col-md-12">
                  <a name="3"></a>
                  <h1>个人定制</h1>
                </div>
              </div>
              <div class="row" style="padding-top: 30px;">
                <div class="col-md-6 col-sm-12">
                  <table class="table table-striped">
                    <tr>
                        <th>基管材料</th>
                        <th>翅片材料</th>
                    </tr>
                    <tr>
                      <td>304L/316L不锈钢</td>
                      <td>304L/316L不锈钢</td>
                    </tr>
                    <tr>
                      <td>304L/316L不锈钢</td>
                      <td>镍铜合金</td>
                    </tr>
                    <tr>
                      <td>304L/316L不锈钢</td>
                      <td>铜</td>
                    </tr>
                    <tr>
                      <td>钛</td>
                      <td>304L/316L不锈钢</td>
                    </tr>
                    <tr>
                      <td>钛</td>
                      <td>铜</td>
                    </tr>
                    <tr>
                      <td>钛</td>
                      <td>钛</td>
                    </tr>
                    <tr>
                      <td>碳钢</td>
                      <td>碳钢</td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="block">
                  <table class="table table-striped">
                    <tr>
                      <th colspan="2">尺寸区间</th>
                      <th>管型选择</th>
                    </tr>
                    <tr>
                        <td>基管外径</td>
                        <td>10-50mm</td>
                        <td>直管</td>
                    </tr>
                    <tr>
                        <td>基管壁厚</td>
                        <td>1-8mm</td>
                        <td>弯管</td>
                    </tr>
                    <tr>
                        <td>翅片厚度</td>
                        <td>0.4-1.5mm</td>
                        <td>蛇形弯管</td>
                    </tr>
                    <tr>
                        <td>翅片间距</td>
                        <td>2-14mm</td>
                        <td>单层螺旋盘管</td>
                    </tr>
                    <tr>
                        <td>翅片高度</td>
                        <td>4-17mm</td>
                        <td>双层螺旋盘管</td>
                    </tr>
                  </table>
                  </div>
                </div>
              </div>
            </div>  <!-- end 3nd advantages-->


            <div class="4" style="padding-top: 50px;">
              <div class="row">
                <div class="col-md-12">
                  <a name="4"></a>
                  <h1>30年质量保证</h1>
                </div>
              </div>
              <div class="row" style="padding-top: 10px;">
                <div class="col-md-12 col-sm-12">
                  <div class="block">
                    <div class="section-title">
                      <h3>质量控制</h3>
                      <p>1.&nbsp;在生产过程中使用CCD监视系统，全程监控焊接区域。</p>
                      <p>2.&nbsp;首件检测，切割后长度检测，倒伏后焊接情况检测，使用金相分析系统，确保产品质量。</p>
                      <p>3.&nbsp;选用高质量，高规格的材料，确保产品质量合格。</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" >
                <div class="col-md-6 col-sm-12" class="block">
                  <img src="__PUBLIC__/img/advantages/a8.jpg" alt="">
                </div>
                <div class="col-md-6 col-sm-12" class="block">
                  <div class="row">
                    <div class="col-md-12" style = "text-align:center;">
                        <img src="__PUBLIC__/img/advantages/a9.png" alt="">
                        <div class="caption" style="padding-top: 10px;">CCD 监视画面</div>
                    </div>
                  </div>
                  <div class="row" style="padding-top: 20px;">
                    <div class="col-md-12" style = "text-align:center;">
                      <img src="__PUBLIC__/img/advantages/a10.png" alt="">
                      <!-- <div class="caption" style="padding-top: 10px;">金相分析 </div> -->
                    </div>
                  </div>

                </div>
              </div>
            </div>  <!-- end 4nd advantages-->
          </div>
        </section>


