<layout name="layout" />

    <!-- Slider Start -->
    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="block">
              <h1 class="animated fadeInUp">AIERMART <br> Energy Saving <br>Technology Company</h1>
              <p class="animated fadeInUp">Professional manufacturer of laser welded finned tubes </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Wrapper Start -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>About Us</h2>
                <p>Established in 2010, Suzhou Aier Mart Energy Saving Technology Co., Ltd is a manufacturer and trader specialized in the research, development and production of all types of energy-efficient laser welded finned tubes. Our production lines are equipped with advanced facilities and apply with German advanced technologies. All our products comply with international quality standards and are certified by CE, FCC, ROSS etc. </p>
                <P>
                  The main products are all kinds of energy-efficient laser welded finned tubes which used in many fields both at home and abroad, such as petroleum and petrochemical industry, power industry, solar industry, mechanical and electrical equipment production, pharmaceutical industry, food industry, ship industry etc. Also we have spiral-type tube bending machine as our patented product.
                </P>
              </div>
            </div>
          </div><!-- .col-md-7 close -->
          <div class="col-md-5 col-sm-12">
            <div class="block">
                <img src="__PUBLIC__/img/wrapper-img.png"  onclick="openModal(); currentSlide(1)">
            </div>
          </div><!-- .col-md-5 close alt="Img" -->

        </div>
      </div>
    </section>


            <section id="lightbox">
              <div class="container">
                <div class="row">
                  <div id="myModal" class="modal" onclick="closeModal()">
                    <span class="close cursor">&times;</span>
                      <div class="modal-content">
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/wrapper-img.png" style="width:100%">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>


  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7">
          <h2 >Product Advantages</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-cog"></i> <a href="__URL__/advantages.html#1">Welding</a>
            </li>
            <li>
              <i class="fa fa-life-ring"></i><a href="__URL__/advantages.html#2"> Coil Technology</a>
            </li>
            <li>
              <i class="fa fa-user"></i><a href="__URL__/advantages.html#3"> Custom</a>
            </li>
            <li>
              <i class="fa fa-thumbs-up"></i><a href="__URL__/advantages.html#4"> Quality Assurance</a>
            </li>
          </ul>
          <a href="__URL__/advantages.html" class="btn btn-view-works">View Works</a>
        </div>
      </div>
    </div>
  </section>
    <!-- Service Start -->
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>OUR PRODUCTS</h2>
            <p></p>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-6 col-md-4">
            <div class="service-item">
              <i></i>
              <a href="__URL__/products.html?Single-layer">
                <img src="__PUBLIC__/img/portfolio/danceng/frontpage.jpg" alt="">
                <h4>Single layer spiral coil tube</h4>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service-item">
              <i></i>
              <a href="__URL__/products.html?double-layer">
                <img src="__PUBLIC__/img/portfolio/shuangceng/frontpage.jpg" alt="">
                <h4>Double layer spiral coil tube</h4>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service-item">
              <i></i>
              <a href="__URL__/products.html?bent">
                <img src="__PUBLIC__/img/portfolio/wanguan/frontpage.jpg" alt="">
                <h4>Finned bent tube</h4>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
             <div class="service-item">
              <i></i>
              <a href="__URL__/products.html?logding">
                <img src="__PUBLIC__/img/portfolio/daofu/frontpage.jpg" alt="">
                <h4>Lodging-finned tube</h4>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service-item">
              <i></i>
              <a href="__URL__/products.html?straight">
                <img src="__PUBLIC__/img/portfolio/zhiguan/frontpage.jpg" alt="">
                <h4>Finned straight tube</h4>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service-item">
              <i></i>
              <a href="__URL__/products.html?transection">
                <img src="__PUBLIC__/img/portfolio/xieqie/frontpage.jpg" alt="">
                <h4>Transection of finned tube</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

        <section id="contact-form">
          <div class="container">
            <div class="section-title" style="text-align: center;">
              <h2><a href="./contact.html" style="color:black;">CONTACT US</a></h2>
            </div>
            <div id="contact-box" class="row">
              <div class="col-md-5 col-md-offset-1 col-sm-12">
                <div class="block">
                  <h2>Leave Us A Message</h2>
                    <form action="{:U('Index/check_verify')}", method="post">
                      <div class="form-group">
                        <input id="name" name="name" type="text" class="form-control" placeholder="Your Name">
                      </div>
                      <div class="form-group">
                        <input id="email" name="email" type="text" class="form-control" placeholder="Email Address">
                      </div>
                      <div class="form-group">
                        <input id="subject" name="subject" type="text" class="form-control" placeholder="Subject">
                      </div>
                      <div class="form-group">
                        <textarea id="content" name="content" class="form-control" rows="1" placeholder="Your Message"></textarea>
                      </div>
                      <div class="row block">
                        <div class="col-md-6" style="padding-left: -15px; padding-bottom: 15px;">
                          <input id="j_verify" name="j_verify" type="text" placeholder="Verification code" style="padding: 6px 12px;">
                        </div>
                        <div class="col-md-6">
                          <img id="verify_img" src="{:U('index/verify', array())}" class="m" alt="点击更换" title="点击更换">
                        </div>
                      </div>
                      <div><button class="btn btn-default" type="submit">Send Message</button></div>
                    </form>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-2 col-sm-12">
                <div class="block">
                  <h2>Stop By For A Visit</h2>
                  <ul class="address-block">
                    <li>
                      <i class="fa fa-user"></i> Manager Huang
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i> Email: sales@aiermart.com
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>Phone: (+86)0512-53371508
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>Phone: (+86)0512-53371508
                    </li>
                    <li>
                      <i class="fa fa-mobile"></i>Mobile: (+86)13776178696
                    </li>
                    <li>
                      <i class="fa fa-mobile"></i>Mobile: (+86)18906220299
                    </li>
                    <li>
                      <i class="fa fa-map-marker"></i>Address: Bldg.10, No.33, Changsheng North Road, Chengxiang Town, Taicang, Jiangsu, China(Mainland)
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

 <section id="<call-to-action></call-to-action>">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <table>
                <tr>

                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>



