<layout name="layout" />


        <!-- Slider Start -->
    <section id="global-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>Just some of our latest projects.</h1>
                        <p>Don’t just take our word for it. Check out some of our latest work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Portfolio Start -->
    <section id="portfolio-work">
        <div class="container">
            <div class="row">
              <div class="col-md-12">

                <div class="block">
                  <div class="portfolio-menu">
                    <ul>
                        <li class="filter" data-filter=".Single-layer" id="Single-layer">Single-layer</li>
                        <li class="filter" data-filter=".double-layer" id="double-layer">double-layer</li>
                        <li class="filter" data-filter=".bent" id="bent">bent</li>
                        <li class="filter" data-filter=".logding" id="logding">logding</li>
                        <li class="filter" data-filter=".straight" id="straight">straight</li>
                        <li class="filter" data-filter=".transection" id="transection">transection</li>
                        <!-- <li class="filter" data-filter=".Video">Video</li> -->
                    </ul>
                  </div>
                  <div class="portfolio-contant">
                    <ul id="portfolio-contant-active">
                      <!-- 单层螺旋管 -->
                      <li class="mix Single-layer" >
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/danceng/1.jpg" alt="" onclick="openModal();currentSlide(1)">
                      </li>
                      <li class="mix Single-layer">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/danceng/2.jpg" alt="" onclick="openModal();currentSlide(2)">
                      </li>
                      <li class="mix Single-layer">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/danceng/3.jpg" alt="" onclick="openModal();currentSlide(3)">
                      </li>


                      <!-- 双层螺旋管 -->
                      <li class="mix double-layer">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/shuangceng/1.jpg" alt="" onclick="openModal();currentSlide(4)">
                      </li>
                      <li class="mix double-layer">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/shuangceng/2.jpg" alt="" onclick="openModal();currentSlide(5)">
                      </li>
                      <li class="mix double-layer">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/shuangceng/3.jpg" alt="" onclick="openModal();currentSlide(6)">
                      </li>
                      <li class="mix double-layer">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/shuangceng/4.jpg" alt="" onclick="openModal();currentSlide(7)">
                      </li>
                      <li class="mix double-layer">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/shuangceng/5.jpg" alt="" onclick="openModal();currentSlide(8)">
                      </li>
                      <li class="mix double-layer">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/shuangceng/6.jpg" alt="" onclick="openModal();currentSlide(9)">
                      </li>
                      <!-- 弯管 -->
                      <li class="mix bent">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/wanguan/1.jpg" alt="" onclick="openModal();currentSlide(10)">
                      </li>
                      <li class="mix bent">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/wanguan/2.jpg" alt="" onclick="openModal();currentSlide(11)">
                      </li>

                      <!-- 倒伏 -->
                      <li class="mix logding">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/daofu/1.jpg" alt="" onclick="openModal();currentSlide(12)">
                      </li>
                      <li class="mix logding">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/daofu/2.jpg" alt="" onclick="openModal();currentSlide(13)">
                      </li>
                      <li class="mix logding">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/daofu/3.jpg" alt="" onclick="openModal();currentSlide(14)">
                      </li>
                      <li class="mix logding">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/daofu/4.jpg" alt="" onclick="openModal();currentSlide(15)">
                      </li>
                      <!-- 直管 -->
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/1.jpg" alt="" onclick="openModal();currentSlide(16)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/2.jpg" alt="" onclick="openModal();currentSlide(17)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/3.jpg" alt="" onclick="openModal();currentSlide(18)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/4.jpg" alt="" onclick="openModal();currentSlide(19)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/5.jpg" alt="" onclick="openModal();currentSlide(20)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/6.jpg" alt="" onclick="openModal();currentSlide(21)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/7.jpg" alt="" onclick="openModal();currentSlide(22)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/8.jpg" alt="" onclick="openModal();currentSlide(23)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/9.jpg" alt="" onclick="openModal();currentSlide(24)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/10.jpg" alt="" onclick="openModal();currentSlide(25)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/11.jpg" alt="" onclick="openModal();currentSlide(26)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/12.jpg" alt="" onclick="openModal();currentSlide(27)">
                      </li>
                      <li class="mix straight">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/zhiguan/13.jpg" alt="" onclick="openModal();currentSlide(28)">
                      </li>
                      <!-- 斜切面 -->
                      <li class="mix transection">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/xieqie/1.jpg" alt="" onclick="openModal();currentSlide(29)">
                      </li>
                      <li class="mix transection">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/xieqie/2.jpg" alt="" onclick="openModal();currentSlide(30)">
                      </li>
                      <li class="mix transection">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/xieqie/3.jpg" alt="" onclick="openModal();currentSlide(31)">
                      </li>
                      <li class="mix transection">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/xieqie/4.jpg" alt="" onclick="openModal();currentSlide(32)">
                      </li>
                      <li class="mix transection">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/xieqie/5.jpg" alt="" onclick="openModal();currentSlide(33)">
                      </li>
                      <li class="mix transection">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/xieqie/6.jpg" alt="" onclick="openModal();currentSlide(34)">
                      </li>
                      <li class="mix transection">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/xieqie/7.jpg" alt="" onclick="openModal();currentSlide(35)">
                      </li>
                      <li class="mix transection">
                          <img id="img" class="min" src="__PUBLIC__/img/portfolio/xieqie/8.jpg" alt="" onclick="openModal();currentSlide(36)">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

<section id="lightbox">
                  <div id="myModal" class="mymodal" style="color:white;">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                      <div class="mymodal-content">
<!-- 单层管 -->
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/source/danceng/1.jpg" style="width:100%">
                        </div>
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/source/danceng/2.jpg" style="width:100%">
                        </div>
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/source/danceng/3.jpg" style="width:100%">
                        </div>
<!-- 双层管 -->
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/source/shuangceng/1.jpg" style="width:100%">
                        </div>
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/source/shuangceng/2.jpg" style="width:100%">
                        </div>
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/source/shuangceng/3.jpg" style="width:100%">
                        </div>
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/source/shuangceng/4.jpg" style="width:100%">
                        </div>
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/source/shuangceng/5.jpg" style="width:100%">
                        </div>
                        <div class="mySlides">
                          <img src="__PUBLIC__/img/source/shuangceng/6.jpg" style="width:100%">
                        </div>
                        <div class="caption-container">
                          <p id="caption"></p>
                        </div>
<!-- 弯管 -->
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/wanguan/1.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/wanguan/2.jpg" style="width:100%">
                      </div>
<!-- 倒伏 -->
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/daofu/1.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/daofu/2.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/daofu/3.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/daofu/4.jpg" style="width:100%">
                      </div>
<!-- 直管 -->
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/1.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/2.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/3.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/4.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/5.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/6.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/7.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/8.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/9.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/10.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/11.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/12.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/zhiguan/13.jpg" style="width:100%">
                      </div>
<!-- 斜切面 -->
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/xieqie/1.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/xieqie/2.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/xieqie/3.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/xieqie/4.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/xieqie/5.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/xieqie/6.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/xieqie/7.jpg" style="width:100%">
                      </div>
                      <div class="mySlides">
                        <img src="__PUBLIC__/img/source/xieqie/8.jpg" style="width:100%">
                      </div>

                      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                      <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>


                  </div>
</section>
